name: Read Release Notes Test

on:
  push:
  workflow_dispatch:
    inputs: 
        workflow_run_id:
          description: 'The ID of the workflow run to read release notes from'
          required: true
          type: string
permissions: 
    contents: read
    actions: read
jobs:
  read-release-notes:
    runs-on: ubuntu-latest
    steps:
      - name: Read release notes
        uses: dawidd6/action-download-artifact@v9
        with:
          branch: feature/issue-54-release
          name: release-notes
          workflow: test-create-changelog.yml
          path: ./release-notes.txt
      - name: Display release notes
        run: |
          if [ -f ./release-notes.txt ]; then
            cat ./release-notes.txt
          else
            echo "Release notes file not found."
          fi