on:
  workflow_call:
    inputs:
      version:
        required: true
        description: 'Version to deploy'
        type: string
  
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Create tag
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "baynezy@gmail.com"
          git tag -a ${{ inputs.version }} -m "Version ${{ inputs.version }} created via GitHub Actions"
          git push origin ${{ inputs.version }}